To install the virtual environment, in your coding app with the terminal up:

'cd path/to/your/project' <- required

'python -m venv venv' <- required

'venv\Scripts\activate.bat' <- for windows cmd prompt

or

'source venv/bin/activate' <- for macos/Linux bash/zsh
